APP_ENV=local
APP_KEY=base64:KzHDa0Az0QrwYNZaVCfxHhONYtshuCE6e72r6EAsvjg=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
SETTINGS_SEND_ACTIVATION_EMAIL=true

SETTINGS_UPLOAD_LOCATION=images/data-kost/

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
